h1, h2, li, p {
    font-family: "Helvetica Neue", sans-serif;
    color: #95989A;
}

body {
    margin-left: 5em;
}
#wrapper {
    width: 1505px;
    position: relative;
}

#leftcolumn, #rightcolumn {
    min-height: 750px;
    color: white;
}

#leftcolumn {
    width: 1200px;
    min-height: 100px;
    position: fixed;
}

#rightcolumn {
    width: 250px;
    float: right;
}

#graph-frame {
    border: 1px solid #95989A;
}